
/*========================================*/
/*              FEATURE SECTION            */
/*========================================*/

.feature-section{

    .feature-row{
        

        @media(min-width: 992px){
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
            grid-gap: 2.5rem;
            align-items: center;
        }
        
    }

    padding-bottom: 15rem;

}

/*========================================*/
/*              PORTFOLIO SECTION          */
/*========================================*/

.portfolio-section{
   padding-bottom: 15rem;

   

   transform: skewY(-7deg);

   & > * {
      transform: skewY(7deg); 
   }
}

.about-section{
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
    url(img/bkg-img.jpg);
    background-size: cover;


    
    transform: skewY(-7deg);

    & > * {
       transform: skewY(7deg); 
    }

}

/*=============================*/
/*       CONTACT SECTION       */
/*=============================*/

.contact-section{
    position: relative;
    margin-top: 0;
}







