$color-primary: #18BC9C !default; // rgb(24, 188, 156);
$color-primary-light: #7ed56f;
$color-primary-dark: #15a589;

$color-secondary: #2C3E50 !default;
$color-secondary-dark: #273748;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-quaternary-light-1: #fdcc52;
$color-quaternary-light-2: #fdc539;
$color-quaternary-dark-1: #ff7730;
$color-quaternary-dark-2: #f4623a; // default

$color-white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;