body {
    font-family: 'Lato';
    //background-color: red;
}


  a {
    color: $color-primary;
    &:focus,
    &:hover,
    &:active {
      color: darken($color-primary, 10%);
    }
  }
  
  a:focus, a:hover, a:active {
    color: #128f76;
  }

  .copyright {
    background-color: #1a252f;
  }

  // Styling for page sections

  

.page-section {
  padding: 10rem 0;
  margin-top: -15vh;
  
  .page-section-heading {
    font-size: 2.25rem;
    line-height: 2rem;
  }
  @media (min-width: 992px) {
    .page-section-heading {
      font-size: 3rem;
      line-height: 2.5rem;
    }
  }
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  @include heading-font;
  font-size: 1.5rem;
}


.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}
