 /* TYPOGRAPHY */
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-weight: 700;
   font-family: 'Montserrat';
 }
 
 
 .heading-primary {
  backface-visibility: hidden;
  color: $color-white;
  margin-bottom: 3rem;

  &--main {
      display: block;
      font-size: 3rem;
      letter-spacing: .5rem;
      line-height: 3.5rem;
      font-weight: 400;
      margin-bottom: 2rem !important;

  
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      
      @media (min-width: 992px){
        font-weight: 500;
        line-height: 3.5rem;
        letter-spacing: 1.5rem;
        margin-bottom: 3rem !important;

      }
      
     /* @include respond(phone) {
          
          font-family: 5rem;
      }
      
      animation-delay: 3s;
      animation-iteration-count: 3;
      */
  }
  
  &--sub {
      display: block;
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: .6rem;
      animation: moveInRight 1s ease-out;

      /*
       @include respond(phone) {
          letter-spacing: .5rem;
      }
      */

      @media (min-width: 992px){
        font-size: 2rem;
        letter-spacing: 1.2rem;
      }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s;


  &:hover {
      transform: skewY(2deg) skewX(15deg) scale(1.1);
      text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }
}

.heading-tertiary {
  //font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  //font-size: $default-font-size;

  &:not(:last-child) {
      margin-bottom: 3rem;
  }
} 
 



 
 // Custom Horizontal Rule with Star Icon
hr.star-light,
hr.star-dark {
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

hr.star-light:after,
hr.star-dark:after {
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f005';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2em;
}

hr.star-light {
  border-color: $color-white;
}
hr.star-light:after {
  color: $color-white;
  background-color: rgba($color-primary, 0.8);
}

hr.star-dark {
  border-color: $color-secondary;
}
hr.star-dark:after {
  color: $color-secondary;
  background-color: white;
}
 