

  .scroll-to-top {
    z-index: 1042;
    right: 1rem;
    bottom: 1rem;
    display: none;
  }
  
  .scroll-to-top a {
    width: 3.5rem;
    height: 3.5rem;
    background-color: rgba(33, 37, 41, 0.5);
    line-height: 3.1rem;
  }

  .text-primary {
    color: #18BC9C !important;
  }
  
  .text-secondary {
    color: #2C3E50 !important;
  }

  .bg-primary {
    background-color: $color-primary !important;
  }
  
  .bg-secondary {
    background-color: $color-secondary !important;
  }
  
  .text-primary {
    color: $color-primary !important;
  }
  
  .text-secondary {
    color: $color-secondary !important;
  }