
.masthead {
    height: 85vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
        url(img/persPort3-min-big.jpg);

        background-size: cover;
        background-position: center top;
        position: relative;
        padding-top: calc(6rem + 7.2rem);
        padding-bottom: 6rem;

        // top left, top right, 
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
   

    h2 {
      font-size: 1.3rem;
      @include body-font;
    }
  }

  @media (min-width: 992px) {
    .masthead {
      padding-top: calc(6rem + 106px);
      padding-bottom: 6rem;
      h1 {
        font-size: 4.75em;
        line-height: 4rem;
      }
      h2 {
        font-size: 1.75em;
      }
  
    }
  }